* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('../fonts/logo-font/Norse-Bold.woff2') format('woff2'),
        url('../fonts/logo-font/Norse-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main-container {
    display: flex;
    width: 100vw;
    margin: auto;
}

.logo {
    flex: 1 1 35%;
}

.logo-img {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../background-image.jpg");
    background-size: cover;
}

.sign-up {
    flex: 1 1 65%;
    background-color: rgb(250, 250, 250);
}

.transparent-background {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20%;
    left: 0;
    right: 0;

    padding: 10px 0;
}

.odin-logo {
    width: 100px;
}

.odin-logo + p {
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 6rem;
}

.credits {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;

    color: white;
}

.credits > a {
    color: inherit
}

.heading {
    padding: 100px 80px 20px 40px;
}
.heading > p, form > p {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.heading p:last-child {
    margin-top: 1.2rem;
    margin-bottom: 1.35rem;
}

.fields {
    display: flex;
    gap: 40px;
}


label, input {
    display: block;
}

form {
    padding: 20px 0px 30px 40px;
    background-color: white;
    box-shadow: 0px 4px 2px rgba(139, 139, 139, 0.2);
}

.column {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom {
    display: flex;
    flex-direction: column;

    margin: 30px 0 0 40px;
    gap: 15px;
}

.bottom > button {
    width: 200px;
    padding: 10px 5px;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.bottom > p > a {
    text-decoration: none;
    color: #596D48;
}

label {
    font-family: sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.6px;
}

input {
    outline: none;
    border: 1px solid #E5E7EB;
    padding: 3px 5px;
    border-radius: 3px;
}

input:focus {
    border: 1px solid #2e4f91;
    box-shadow: 0px 1px 2px #2e4f91;
}

input[type="password"]:invalid {
    border: 1px solid #d1452c;
    box-shadow: 0px 1px 2px #d1452c;
}